@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h2 style="font-weight: bold;">PaintCalculator</h2>

Click here if you are ready

<br><br>

<NavLink class="btn btn-primary" href="paint">Click me!</NavLink>

